
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --white:#ffffff;
    --pink:#FFC0CB;

}
*{
    margin:0;

}

body{
    font-family:"Poppins",sans-serif;

}
button{
    all:unset;
    padding:6px 16 px;
    background:var(--pink);
    height:32px;
    color:red;
    font-weight:500;
}

.container{
    margin:0 auto;
    max-width:1280px;
}
nav{
    display :flex ;
    justify-content: space-between;

   
    height:72px;

    align-items:center;
    


}
nav ul{
    display :flex ;
    list-style:none;
    gap:24px;


}
.hero{
    margin:0 auto;
    max-width:1280px;
    display:flex;
    align-items: center;

}
.hero{
    font-weight:800;
    font-size:108px;
    height:cal(100vh - 72px)

}
.hero h1{
    font-weigth:800;
    line-height:102px;
    font-size:108px;
}